<!DOCTYPE html>

<html lang="zh-Hans"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="modal">
    <div class="weui-cells">

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">7.填报日期</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="text" placeholder="填报日期: 2020-01-01" aria-label="填报日期" name="case-user" id="caseDate">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">8.当前城市</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="text" placeholder="当前所在城市" aria-label="当前城市" name="case-user" id="userCity">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit"></label>
            </div>
            <div class="weui-cell__bd">
                <input type="text" class="weui-input list-input" placeholder="国外请在此录入" id="userCity-oth">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">9.社区/小区</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="text" placeholder="社区/小区: 例如民生花园" aria-label="社区/小区" name="case-user" id="userCommunity">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">10.楼栋单元</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="text" placeholder="楼栋单元" aria-label="楼栋单元" name="case-user" id="userBuilding">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>

        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">11.离开宁夏</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input list-must" type="text" id="strokeDest-checkbox" placeholder="2020年1月8日(含)以后离开宁夏" valt="1月8日(含)后离开宁夏" valf="1月8日(含)后在宁夏">
            </div>
            <div class="weui-cell__ft"><input class="weui-switch" type="checkbox" actname="strokeDest" name="strokeDest-checkbox"></div>
        </div>

        <div class="weui-cell d-none" name="strokeDest-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">12.目的地</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="行程-目的地" name="case-user" id="strokeDest">
            </div>
        </div>
        <div class="weui-cell d-none" name="strokeDest-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit"></label>
            </div>
            <div class="weui-cell__bd">
                <input type="text" class="weui-input list-input" placeholder="国外请在此录入" aria-label="国外请在此录入" id="strokeDest-oth">
            </div>
        </div>

        <div class="weui-cell weui-cell_switch d-none" name="strokeDest-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">13.途径武汉</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="未途径武汉: 默认否" name="case-user" id="strokeVia" value="否" valt="是" valf="否">
            </div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" name="strokeVia" value="否">
            </div>
        </div>

        <div class="weui-cell d-none" name="strokeDest-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">14.离宁时间</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="离宁时间" name="case-user" id="strokeDateGo">
            </div>
        </div>

        <div class="weui-cell d-none" name="strokeDest-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">15.返宁时间</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="如果日期不定请勿选择" name="case-user" id="strokeDateBack">
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">16.居家隔离时间（X月X日开始）</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="隔离时间: 开始时间" name="case-user" id="isolationDate">
            </div>
        </div>

        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">17.是否有病毒感染确诊病历接触史</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="text" placeholder="是否有病毒感染确诊病历接触史" aria-label="是否有接触史" name="case-user" id="touchingSign" value="否" valt="是" valf="否">
            </div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" actname="touchingSign" name="touchingSign">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>

        <div class="weui-cell weui-cell_switch d-none" name="touchingSign-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">18.接触后有无参加三人以上聚会</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="接触后有无参加三人以上聚会" name="case-user" id="userMeet" value="否" valt="是" valf="否">
            </div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" name="userMeet">
            </div>
        </div>

        <div class="weui-cell weui-cell_switch d-none" name="touchingSign-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">19.接触后有无到人流密集场所</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="接触后有无到人流密集场所" name="case-user" id="userPubPlace" value="否" valt="是" valf="否">
            </div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" name="userPubPlace">
            </div>
        </div>

        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">20.本人或家属身体状态</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="text" placeholder="本人或家属身体状态" aria-label="本人或家属身体状态" name="case-user" id="bodySign" value="无症状"  valt="有症状" valf="无症状">
            </div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" actname="bodySign" name="bodySign">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>

        <div class="weui-cell weui-cell_switch d-none" name="bodySign-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">21.症状描述</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="症状描述" name="case-user" id="bodycase">
            </div>
        </div>

        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">22.有无向社区申报</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="text" placeholder="有无向社区申报" name="case-user" id="userCallCommunity" value="未申报" valt="已申报" valf="未申报">
            </div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" name="userCallCommunity">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>

        <div class="weui-cell weui-cell_switch">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">23.今日体温</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input must" type="number" pattern="[0-9]*" placeholder="今日体温: 36.5" aria-label="今日体温" name="case-user" id="bodyTemperature">
            </div>
            <span class="weui-badge cells-must">必</span>
        </div>

        <div class="weui-cell weui-cell_switch" id="li-d">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">24.是否就医</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="是否就医" name="case-user" id="doctorSign" value="否" valt="是" valf="否">
            </div>
            <div class="weui-cell__ft">
                <input class="weui-switch" type="checkbox" actname="doctorSign" name="doctorSign">
            </div>
        </div>

        <div class="weui-cell weui-cell_switch d-none" name="doctorSign-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">25.就医医院</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="就医医院" name="case-user" id="hospital">
            </div>
        </div>

        <div class="weui-cell d-none" name="doctorSign-cell">
            <div class="weui-cell__hd">
                <label class="weui-label list-tit">26.就医时间</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="就医时间" name="case-user" id="doctorTime">
            </div>
        </div>

        <div class="weui-cell list-tit d-none" name="doctorSign-cell">27.医生诊断</div>
        <div class="weui-cell d-none" name="doctorSign-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="医生诊断" rows="3" name="case-user" id="dectorInfo"></textarea>
                <div class="weui-textarea-counter"><span>0</span>/200</div>
            </div>
        </div>

        <div class="weui-cell list-tit">28.其他</div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="其他" rows="3" name="case-user" id="caseExplain"></textarea>
                <div class="weui-textarea-counter"><span>0</span>/200</div>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-loadmore d-none" id="save-case-user-loading">
                <i class="weui-loading"></i>
                <span class="weui-loadmore__tips">正在提交</span>
            </div>
            <button class="weui-btn weui-btn_default bg-success text-white mx-4 px-4" type="button" id="save-case-user">下一步</button>
        </div>
    </div>
</th:block>