<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="link/head :: head"></head>
    <head th:replace="link/head :: jQuery"></head>
    <head th:replace="link/head :: weui"></head>
    <head th:replace="link/head :: bootstrap"></head>
    <head th:replace="link/head :: animate"></head>
    <head th:replace="link/head :: fontawesome"></head>
    <head th:replace="link/head :: datatables"></head>
    <head th:replace="link/head :: idx"></head>
    <title th:text="招商银行银川分行-新型冠状病毒肺炎防控信息统计"></title>
</head>
<body>
<div class="container-fluid">
    <h3 class="text-center cmb-red font-weight-bold">招商银行银川分行</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">起始时间</span>
        </div>
        <input type="text" class="form-control" placeholder="起始时间" aria-label="start" id="startDate">
        <div class="input-group-append">
            <span class="input-group-text">报表名称</span>
        </div>
        <input type="text" class="form-control" placeholder="报表名称" id="viewname">
        <button class="weui-btn weui-btn_default bg-success text-white mx-4 px-4" type="button" id="select-report">查询</button>
    </div>
    <hr>
    <table id="datatable-id" class="display row-border cell-border hover stripe datatables-font"></table>
    <div class="weui-footer mt-4">
        <p class="weui-footer__text">Copyright © 招商银行银川分行</p>
    </div>
</div>
<script type="text/javascript" charset="UTF-8" th:src="@{/report.js}"></script>
</body>
</html>