<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="link/head :: head"></head>
    <head th:replace="link/head :: jQuery"></head>
    <head th:replace="link/head :: weui"></head>
    <head th:replace="link/head :: bootstrap"></head>
    <head th:replace="link/head :: animate"></head>
    <head th:replace="link/head :: fontawesome"></head>
    <head th:replace="link/head :: datatables"></head>
    <head th:replace="link/head :: idx"></head>
    <title th:text="招商银行银川分行-新型冠状病毒肺炎防控信息统计"></title>
</head>
<body>
<div class="container-fluid">
    <h3 class="cmb-red">当前维护中...........</h3>
</div>
</body>
</html>